/*
*   General Baku Style
*/

body
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
    color: #F7F7F7
    background-image: url(../images/subtle_carbon_@2X.png)
    background-color: #666