!!!5
html
    head
        title= title
        link(rel='stylesheet', href='public/stylesheets/style.css')
        script(data-main='public/scripts/main.js', src='public/scripts/require.js')

    body
        block mainContent
